#Paragraphe1{
    color: blue;
}
#Paragraphe2{
    font-family: "Courier New", serif;
}
#Paragraphe3{
    text-align: center;
}
#Paragraphe4{
    font-size: 50px;
}
#DIV{
    background-color: yellow;
}
#PI{
    text-align: center;
}
#DIv{
    border-width: 1px;
    border-color: blue;
    border-style: solid;
    min-height: 200px;
}